{% extends 'base.html.twig' %}


{% block nav %}{% include "header.html.twig" %}{% endblock %}

{% block body %}


<h1>Bienvenue sur le site pour créer ton personnage D&amp;D 3.5</h1>


{% endblock %}
