{% extends 'base.html.twig' %}

{% block nav %} {% include "header.html.twig" %} {% endblock %}

{% block body %}
    <h1>Liste des classes</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                
            </tr>
        </thead>
        <tbody>
        {% for class in classes %}
            <tr>
                <td><a href="{{ path('app_classes_show', {'id': class.id}) }}"><button>{{ class.nom }}</button></a></td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_classes_new') }}">Create new</a>
{% endblock %}
