{% extends 'base.html.twig' %}

{% block title %}New Dnd35Dons{% endblock %}

{% block body %}
    <h1>Create new Dnd35Dons</h1>

    {{ include('dons/_form.html.twig') }}

    <a href="{{ path('app_dons_index') }}">back to list</a>
{% endblock %}
