{% extends 'base.html.twig' %}

{% block title %}New Dnd35Races{% endblock %}

{% block body %}
    <h1>Create new Dnd35Races</h1>

    {{ include('races/_form.html.twig') }}

    <a href="{{ path('app_races_index') }}">back to list</a>
{% endblock %}
